.cat-head {
    width: 205px;
    height: 180px;
    border: 1px solid black;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 46%;
    background: linear-gradient(#5e5e5e 85%, #45454f 100%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.left-ear {
    position: absolute;
    border-bottom: 70px solid #5e5e5e;
    border-right: 35px solid transparent;
    border-left: 35px solid transparent;
    top: -26px;
    left: -31px;
    transform: rotate(-45deg);
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    z-index: 1;
}

.right-ear {
    position: absolute;
    border-bottom: 70px solid #5e5e5e;
    border-right: 35px solid transparent;
    border-left: 35px solid transparent;
    top: -26px;
    left: 163px;
    transform: rotate(45deg);
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    z-index: 1;
}


.left-inner{
    position: absolute;
    top: 22px;
    left: -20px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #3b3b4f;
}

.right-inner{
    position: absolute;
    top: 22px;
    left: -20px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #3b3b4f;
}

.left-eye {
    border: 20px solid white;
    position: absolute;
    top: 50px;
    left: 40px;
    border-radius: 75px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 20px;
    
}

.right-eye {
    border: 20px solid white;
    position: absolute;
    top: 50px;
    left: 110px;
    border-radius: 75px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 20px;
    
}

.right-eyeball {
    border: 17px solid rgb(40, 164, 226);
    position: absolute;
    top: -19px;
    left: -15px;
    border-radius: 75px;
}

.left-eyeball {
    border: 17px solid rgb(40, 164, 226);
    position: absolute;
    top: -16px;
    left: -17px;
    border-radius: 75px;
}

.inner-right{
    border: 12px solid black;
    position: absolute;
    border-radius: 65px;
    top: -10px;
    left: -10px;
}

.inner-left{
    border: 12px solid black;
    position: absolute;
    border-radius: 65px;
    top: -10px;
    left: -10px;
}

.inner-inner-right {
    border: 3px solid white;
    position: absolute;
    border-radius: 65px;
    top:-9px;
}

.inner-inner-left {
    border: 3px solid white;
    position: absolute;
    border-radius: 65px;
    top: -9px;
    left:-7px;
}

.nose {
    position: absolute;
    top: 105px;
    left: 85px;
    border-top-left-radius: 320px; /* Increased for more curvature */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 1000%;
    border-bottom-right-radius: 1000%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #713618;
    transform: rotate(180deg);
   
}

.cat-mouth div{
    width: 30px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 190%/190px 150px 0 0;
    border-color: black transparent transparent transparent;
}

.cat-mouth-line-left {
    position: absolute;
    top: 88px;
    left: 74px;
    transform: rotate(165deg);
}

.cat-mouth-line-right {
    position: absolute;
    top: 88px;
    left: 91px;
    transform: rotate(170deg);
}

.cat-whiskers-left div {
    width: 40px;
    height: 1px;
    background-color: #000;
  }
  
  .cat-whiskers-right div {
    width: 40px;
    height: 1px;
    background-color: #000;
  }
  
  .cat-whisker-left-top {
    position: absolute;
    top: 120px;
    left: 52px;
    transform: rotate(10deg);
  }
  
  .cat-whisker-left-middle {
    position: absolute;
    top: 127px;
    left: 52px;
    transform: rotate(3deg);
  }
  
  .cat-whisker-left-bottom {
    position: absolute;
    top: 134px;
    left: 52px;
    transform: rotate(-3deg);
  }
  
  .cat-whisker-right-top {
    position: absolute;
    top: 120px;
    left: 109px;
    transform: rotate(-10deg);
  }
  
  .cat-whisker-right-middle {
    position: absolute;
    top: 127px;
    left: 109px;
    transform: rotate(-3deg);
  }
  
  .cat-whisker-right-bottom {
    position: absolute;
    top: 134px;
    left: 109px;
  }